
<div class="content-wrapper">

    <section class="content">

        <div class='row'>


            <div class="box-header">
                <h3 class="box-title">Liste des pharmaciens</h3>

                <button class="btn btn-info pull-right" style="margin-right: 5px;border-radius: 25px;" [routerLink]="['/', { outlets: { popup: ['pharmacie-new'] } }]"><i class="fa fa-download" ></i> Ajouter un nouveau pharmacien</button>

            </div><!-- /.box-header -->
            <div class="box-body no-padding" *ngIf="pharmacies">
                <table class="table table-condensed">
                    <tr >
                        <th style="width: 23%">Nom Complet</th>
                        <th style="width: 13%">Photo</th>

                        <th style="width: 34%">Action</th>
                    </tr>
                    <tr *ngFor="let pharmacie of pharmacies ">
                        <td>{{pharmacie.nometprenom}}</td>
                        <td><a *ngIf="pharmacie.photo" (click)="openFile(pharmacie.photoContentType, pharmacie.photo)">
                            <img [src]="'data:' + pharmacie.photoContentType + ';base64,' + pharmacie.photo" style="border-radius: 50%;max-height: 50px;max-width: 50px;" alt="pharmacie image"/>
                        </a></td>

                        <td>
                            <button class="btn btn-primary pull-right" style="margin-right: 5px;" type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'pharmacie/'+ pharmacie.id + '/edit'} }]"
                                    replaceUrl="true"><i class="fa fa-edit"></i> </button>
                            <button class="btn btn-warning pull-right" style="margin-right: 5px;"
                                    type="submit"
                                    [routerLink]="['../pharmacie', pharmacie.id ]"><i class="fa fa-eye"></i> </button>
                            <button class="btn btn-danger pull-right" style="margin-right: 5px;" type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'pharmacie/'+ pharmacie.id + '/delete'} }]"
                                    replaceUrl="true"><i class="fa fa-trash-o"></i> </button></td>
                    </tr>

                </table>
            </div><!-- /.box-body -->

        </div></section></div>
