

<div class="content-wrapper">

    <section class="content">

        <div class='row'>


<div style="margin-left: 30px;">
<div *ngIf="hello">
    <h2><span jhiTranslate="avancementApp.hello.detail.title">Hello</span> {{hello.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="avancementApp.hello.name">Name</span></dt>
        <dd>
            <span>{{hello.name}}</span>
        </dd>
        <dt><span jhiTranslate="avancementApp.hello.medicamentid">Medicamentid</span></dt>
        <dd>
            <span>{{hello.medicamentid}}</span>
        </dd>
        <dt><span jhiTranslate="avancementApp.hello.maladie">Maladie</span></dt>
        <dd>
            <span>{{hello.maladie}}</span>
        </dd>
        <dt><span jhiTranslate="avancementApp.hello.symptomes">Symptomes</span></dt>
        <dd>
            <span>{{hello.symptomes}}</span>
        </dd>
        <dt><span jhiTranslate="avancementApp.hello.duree">Durée</span></dt>
        <dd>
            <span>{{hello.duree}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'hello/'+ hello.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div></div>
        </div></section></div>
