

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="myArticleLabel" jhiTranslate="avancementApp.article.home.createOrEditLabel">Create or edit a Article</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="avancementApp.article.titre" for="field_titre">Titre</label>
            <input type="text" class="form-control" name="titre" id="field_titre"
                [(ngModel)]="article.titre"
            required />
            <div [hidden]="!(editForm.controls.titre?.dirty && editForm.controls.titre?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.titre?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="avancementApp.article.text" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                [(ngModel)]="article.text"
            required />
            <div [hidden]="!(editForm.controls.text?.dirty && editForm.controls.text?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.text?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>



        <div class="form-group">
            <label class="form-control-label" jhiTranslate="avancementApp.article.doc" for="field_doc">Doc</label>
            <div>
                <div *ngIf="article.doc" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(article.docContentType, article.doc)" jhiTranslate="entity.action.open">open</a><br>

                    <button type="button" (click)="article.doc=null;article.docContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" (change)="setFileData($event, article, 'doc', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="doc" id="field_doc"
                [(ngModel)]="article.doc"
             />

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
