<div class="content-wrapper">

    <section class="content">

    <div class='row'>
        <div class='col-md-4'>
            <!-- USERS LIST -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title"> Members</h3>
                    <div class="box-tools pull-right">

                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->









                <div class="box-body no-padding">
                    <ul class="users-list clearfix">

                        <div *ngFor="let user of users" (click)="onUserSelected(user)" [ngClass]="{'chat-selected':user.active,'hasMsg':user.hasMsg}" class="list-group-item">


                        <li>


                            <a class="users-list-name" >{{user.firstName}}</a>

                        </li>
                        </div>
                    </ul><!-- /.users-list -->
                </div><!-- /.box-body -->

            </div><!--/.box -->
        </div><!-- /.col -->


        <div class='col-md-7'>
            <!-- DIRECT CHAT -->
            <div id="myDirectChat" class="box box-warning direct-chat direct-chat-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Chat to {{receiver}}</h3>
                    <div class="box-tools pull-right">

                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle"><i class="fa fa-comments"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages">
                        <!-- Message. Default to the left -->
                        <div *ngFor="let msg of receiverMessage">
                        <!-- Message to the right -->
                        <div  *ngIf="msg.senderName != sender" class="direct-chat-msg right">
                            <div class='direct-chat-info clearfix'>
                                <span class='direct-chat-name pull-right'>{{msg.senderName}}</span>
                                <span class='direct-chat-timestamp pull-left'>{{msg.createdDate | date :'medium'}}</span>
                            </div><!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="http://placehold.it/50/55C1E7/fff&text=U" alt="message user image" /><!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                                {{msg.msg}}
                            </div><!-- /.direct-chat-text -->
                        </div><!-- /.direct-chat-msg -->

                        <!-- Message. Default to the left -->
                        <div  *ngIf="msg.senderName == sender "  class="direct-chat-msg">
                            <div class='direct-chat-info clearfix'>
                                <span class='direct-chat-name pull-left'>{{msg.senderName}}</span>
                                <span class='direct-chat-timestamp pull-right'>{{msg.createdDate | date :'medium' }}</span>
                            </div><!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="http://placehold.it/50/FA6F57/fff&text=ME"  alt="message user image" /><!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                                {{msg.msg}}
                            </div><!-- /.direct-chat-text -->
                        </div><!-- /.direct-chat-msg -->

                        <!-- Message to the right -->


                    </div><!--/.direct-chat-messages-->



                </div><!-- /.box-body -->
                <div class="box-footer">
                    <form  name="sendForm" role="form" novalidate  #sendForm="ngForm">
                        <div class="input-group">
                            <input type="text" autocomplete="off" [(ngModel)]="sendText" name="text"  placeholder="Type Message ..." class="form-control"/>
                            <span class="input-group-btn">
                        <button type="button" [disabled]="sendForm.form.invalid" (click)="sendMessage()" class="btn btn-warning btn-flat">Send</button>
                      </span>
                        </div>
                    </form>
                </div><!-- /.box-footer-->
            </div><!--/.direct-chat -->
        </div><!-- /.col -->
        </div></div>
    </section>
</div>




