<div style="margin-left: 30px;">
<div *ngIf="medecin">

    <div  *ngIf="medecin.photo" >
        <a (click)="openFile(medecin.photoContentType, medecin.photo)">
            <img [src]="'data:' + medecin.photoContentType + ';base64,' + medecin.photo" style="max-width: 100px;max-height: 100px;" alt="medecin image"/>
        </a>
        <div style="float:right; margin-left:20px;width: 100px;height: 100px;border-radius: 50%;text-align: center;font-size: 18px;background-color: #8c0f15;color:#f8f8f8;line-height: 100px;font-family:Times New Roman;"> Print PDF</div>
        <div style="float:right; width: 100px;height: 100px;border-radius: 50%;text-align: center;font-size: 18px;background-color: #242b5d;color:#f8f8f8 ;line-height: 100px;font-family:Times New Roman;"> Disscuss </div>
    </div>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">

        <dt><span style="float: left;width: 200px;padding-bottom: 30px;font-family:Times New Roman;">Nom complet :</span></dt>
        <dd>
            <span style="float: left;padding-top:6px;margin-left:500px;display: inline-block;width: 140px;font-family:Times New Roman;">{{medecin.nomcomplet}}</span>
        </dd>
        <dt><span style="float: left;width: 200px;padding-bottom: 30px;font-family:Times New Roman;">Service Medical :</span></dt>
        <dd>
            <span style="float: left;padding-top:6px;margin-left:500px;display: inline-block;width: 140px;font-family:Times New Roman;">{{medecin.serviceid}}</span>
        </dd>
        <dt><span  style="float: left;width: 200px;padding-bottom: 30px;font-family:Times New Roman;">Date de naissance :</span></dt>
        <dd>
            <span style="float: left;padding-top:6px;margin-left:500px;display: inline-block;width: 140px;font-family:Times New Roman;">{{medecin.datenaissance | date:'mediumDate'}}</span>
        </dd>

        <dt><span  style="float: left;width: 200px;padding-bottom: 30px;font-family:Times New Roman;">Specialite : </span></dt>
        <dd>
            <span style="float: left;padding-top:6px;margin-left:500px;display: inline-block;width: 140px;font-family:Times New Roman;">{{medecin.specialite}}</span>
        </dd>


        <dt><span  style="float: left;width: 200px;padding-bottom: 30px;font-family:Times New Roman;">Login : </span></dt>
        <dd>
            <span style="float: left;padding-top:6px;margin-left:500px;display: inline-block;width: 140px;font-family:Times New Roman;">{{medecin.login}}</span>
        </dd>
        <dt><span  style="float: left;width: 200px;padding-bottom: 30px;font-family:Times New Roman;">Mot de passe  : </span></dt>
        <dd>
            <span style="float: left;padding-top:6px;margin-left:500px;display: inline-block;font-family:Times New Roman;width: 140px;">{{medecin.motdepasse}}</span>
        </dd>
    </dl>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'medecin/'+ medecin.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
