<div>
    <h2><span jhiTranslate="avancementApp.medecin.home.title">Medecins</span>
        <button class="btn btn-primary float-xs-right create-medecin" [routerLink]="['/', { outlets: { popup: ['medecin-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="avancementApp.medecin.home.createLabel">
            Create new Medecin
            </span>
        </button>
        <button class="btn btn-primary float-xs-right create-doctor"  (click)="print()">
            <span class="fa fa-print"></span>
            <span >Print</span>
        </button></h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <br/>

        <label>Filtrer par spécialité: </label>
        <select   class="form-control" name="specialite" [(ngModel)]="filter">
                <option *ngFor="let medecin of medecins "  >{{medecin.specialite}}</option>

        </select>

    <div class="table-responsive" *ngIf="medecins">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="nomcomplet">az<span class="fa fa-sort"></span></th>
            <th jhiSortBy="datenaissance">Date de naissance <span class="fa fa-sort"></span></th>

            <th jhiSortBy="specialite">Specialite<span class="fa fa-sort"></span></th>
            <th jhiSortBy="photo">Photo<span class="fa fa-sort"></span></th>
                <th jhiSortBy="serviceid">Service Medical<span class="fa fa-sort"></span></th>
            <th jhiSortBy="login">Login<span class="fa fa-sort"></span></th>
            <th jhiSortBy="motdepasse">Mot de passe <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let medecin of medecins | pureFilter:filter:'specialite'">

                <td>{{medecin.az}}</td>

                <td>{{medecin.datenaissance | date:'mediumDate'}}</td>

                <td>{{medecin.specialite}}</td>
                <td>
                    <a *ngIf="medecin.photo" (click)="openFile(medecin.photoContentType, medecin.photo)">
                        <img [src]="'data:' + medecin.photoContentType + ';base64,' + medecin.photo" style="max-height: 30px; max-width: 45px" alt="medecin image"/>
                    </a>

                </td>
                <td>{{medecin.serviceid}}</td>
                <td>{{medecin.login}}</td>
                <td>{{medecin.motdepasse}}</td>
                <td class="text-xs-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" (click)="print(medecin.id)"
                                class="btn btn-success btn-sm">
                            <span class="fa fa-print"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['../medecin', medecin.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'medecin/'+ medecin.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'medecin/'+ medecin.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div class="text-xs-center" *ngIf="medecins && medecins.length">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
</div>
