<div style="margin-left: 30px;">
<div *ngIf="patient">
    <h2><span jhiTranslate="avancementApp.patient.detail.title">Patient</span> {{patient.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="avancementApp.patient.nom">Nom</span></dt>
        <dd>
            <span>{{patient.nom}}</span>
        </dd>
        <dt><span jhiTranslate="avancementApp.patient.prenom">Prenom</span></dt>
        <dd>
            <span>{{patient.prenom}}</span>
        </dd>
        <dt><span jhiTranslate="avancementApp.patient.cin">Cin</span></dt>
        <dd>
            <span>{{patient.cin}}</span>
        </dd>
        <dt><span jhiTranslate="avancementApp.patient.datedenaissance">Datedenaissance</span></dt>
        <dd>
            <span>{{patient.datedenaissance | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="avancementApp.patient.numsecsociale">Numsecsociale</span></dt>
        <dd>
            <span>{{patient.numsecsociale}}</span>
        </dd>
        <dt><span jhiTranslate="avancementApp.patient.dossier">Dossier</span></dt>
        <dd>
            <div *ngIf="patient.dossier">
                <a (click)="openFile(patient.dossierContentType, patient.dossier)" jhiTranslate="entity.action.open">open</a>
                {{patient.dossierContentType}}, {{byteSize(patient.dossier)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'patient/'+ patient.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
