<div>
    <h2><span jhiTranslate="avancementApp.patient.home.title">Patients</span>
        <button class="btn btn-primary float-xs-right create-patient" [routerLink]="['/', { outlets: { popup: ['patient-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="avancementApp.patient.home.createLabel">
            Create new Patient
            </span>
        </button></h2>
    <jhi-alert></jhi-alert>

    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="patients">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nom"><span jhiTranslate="avancementApp.patient.nom">Nom</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="prenom"><span jhiTranslate="avancementApp.patient.prenom">Prenom</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cin"><span jhiTranslate="avancementApp.patient.cin">Cin</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="datedenaissance"><span jhiTranslate="avancementApp.patient.datedenaissance">Datedenaissance</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="numsecsociale"><span jhiTranslate="avancementApp.patient.numsecsociale">Numsecsociale</span> <span class="fa fa-sort"></span></th>

            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let patient of patients ;trackBy: trackId">
                <td><a [routerLink]="['../patient', patient.id ]">{{patient.id}}</a></td>
                <td>{{patient.nom}}</td>
                <td>{{patient.prenom}}</td>
                <td>{{patient.cin}}</td>
                <td>{{patient.datedenaissance | date:'mediumDate'}}</td>
                <td>{{patient.numsecsociale}}</td>
                <td>
                    <a *ngIf="patient.dossier" (click)="openFile(patient.dossierContentType, patient.dossier)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="patient.dossier">{{patient.dossierContentType}}, {{byteSize(patient.dossier)}}</span>
                </td>
                <td class="text-xs-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../patient', patient.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'patient/'+ patient.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'patient/'+ patient.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div class="text-xs-center" *ngIf="patients && patients.length">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
</div>
