

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="myFichemedicaleLabel" jhiTranslate="avancementApp.fichemedicale.home.createOrEditLabel">Create or edit a Fichemedicale</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>


        <div class="form-group">
            <label class="form-control-label" jhiTranslate="avancementApp.fichemedicale.nom" for="field_nom">Nom : </label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="fichemedicale.nom"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="avancementApp.fichemedicale.prenom" for="field_prenom">Prenom : </label>
            <input type="text" class="form-control" name="prenom" id="field_prenom"
                [(ngModel)]="fichemedicale.prenom"
             />
        </div>
        <div class="form-group">
            <label>Medecin traitant :</label>
            <select class="form-control" name="medid" [(ngModel)]="fichemedicale.medid">
                <option *ngFor="let medecin of medecins ;trackBy: trackId" [value]="medecin.nom">{{medecin.nom}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label"  for="field_datenaissance">Date de naissance : </label>
            <div class="input-group">
                <input id="field_datenaissance" type="text" class="form-control" name="datenaissance" ngbDatepicker  #datenaissanceDp="ngbDatepicker" [(ngModel)]="fichemedicale.datenaissance"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="datenaissanceDp.open()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label"  for="field_antecedents">Antécedents : </label>
            <input type="text" class="form-control" name="antecedents" id="field_antecedents"
                [(ngModel)]="fichemedicale.antecedents"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_resultatdudernierexamen">Resultat du dernier examen : </label>
            <input type="text" class="form-control" name="resultatdudernierexamen" id="field_resultatdudernierexamen"
                [(ngModel)]="fichemedicale.resultatdudernierexamen"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label"  for="field_notesprofitionnelsparamedicaux">Notes profitionnels paramedicaux : </label>
            <input type="text" class="form-control" name="notesprofitionnelsparamedicaux" id="field_notesprofitionnelsparamedicaux"
                [(ngModel)]="fichemedicale.notesprofitionnelsparamedicaux"
             />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="avancementApp.fichemedicale.recommandations" for="field_recommandations">Récommandations : </label>
            <input type="text" class="form-control" name="recommandations" id="field_recommandations"
                [(ngModel)]="fichemedicale.recommandations"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label"  for="field_perscriptionmedicamenteuses">Perscription medicamenteuses : </label>
            <input type="text" class="form-control" name="perscriptionmedicamenteuses" id="field_perscriptionmedicamenteuses"
                [(ngModel)]="fichemedicale.perscriptionmedicamenteuses"
             />
        </div>
        <div class="form-group">
            <label>Groupe sanguin : </label>
            <select class="form-control" name="groupesanguin" [(ngModel)]="fichemedicale.groupesanguin">
                <option >A</option>
                <option >A -</option>
                <option >B</option>
                <option >B -</option>
                <option >O</option>
                <option >O -</option>
                <option >AB</option>
                <option >AB -</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label"  for="field_compte">Comptes rendus : </label>
            <div>
                <div *ngIf="fichemedicale.compte" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(fichemedicale.compteContentType, fichemedicale.compte)" jhiTranslate="entity.action.open">open</a><br>

                    <button type="button" (click)="fichemedicale.compte=null;fichemedicale.compteContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" (change)="setFileData($event, fichemedicale, 'compte', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="compte " id="field_compte"
                [(ngModel)]="fichemedicale.compte"
             />
            <input type="hidden" class="form-control" name="compteContentType" id="field_compteContentType"
                [(ngModel)]="fichemedicale.compteContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
