<div style="margin-left: 30px;">
<div *ngIf="demandemateriel">
    <h2><span jhiTranslate="avancementApp.demandemateriel.detail.title">Demandemateriel</span> {{demandemateriel.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="avancementApp.demandemateriel.date">Date</span></dt>
        <dd>
            <span>{{demandemateriel.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="avancementApp.demandemateriel.time">Time</span></dt>
        <dd>
            <span>{{demandemateriel.time | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="avancementApp.demandemateriel.type">Type</span></dt>
        <dd>
            <span>{{demandemateriel.type}}</span>
        </dd>
        <dt><span jhiTranslate="avancementApp.demandemateriel.quantity">Quantity</span></dt>
        <dd>
            <span>{{demandemateriel.quantity}}</span>
        </dd>
        <dt><span jhiTranslate="avancementApp.demandemateriel.etat">Etat</span></dt>
        <dd>
            <span>{{demandemateriel.etat}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'demandemateriel/'+ demandemateriel.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div></div>
