

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="myDislikeLabel" jhiTranslate="avancementApp.dislike.home.createOrEditLabel">Create or edit a Dislike</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!dislike.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="dislike.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="avancementApp.dislike.article" for="field_article">Article</label>
            <input type="text" class="form-control" name="article" id="field_article"
                [(ngModel)]="dislike.article"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="avancementApp.dislike.utilisateur" for="field_utilisateur">Utilisateur</label>
            <input type="text" class="form-control" name="utilisateur" id="field_utilisateur"
                [(ngModel)]="dislike.utilisateur"
             />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
