

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="myDemandemedicamentLabel" jhiTranslate="avancementApp.demandemedicament.home.createOrEditLabel">Create or edit a Demandemedicament</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!demandemedicament.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="demandemedicament.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="avancementApp.demandemedicament.date" for="field_date">Date</label>
            <div class="input-group">
                <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="demandemedicament.date"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dateDp.open()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="avancementApp.demandemedicament.time" for="field_time">Time</label>
            <div class="input-group">
                <input id="field_time" type="datetime-local" class="form-control" name="time" [(ngModel)]="demandemedicament.time"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="avancementApp.demandemedicament.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                [(ngModel)]="demandemedicament.type"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="avancementApp.demandemedicament.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                [(ngModel)]="demandemedicament.quantity"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="avancementApp.demandemedicament.etat" for="field_etat">Etat</label>
            <input type="text" class="form-control" name="etat" id="field_etat"
                [(ngModel)]="demandemedicament.etat"
             />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
