

<body class="skin-blue">
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a  class="logo"><b>E-</b>Health</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">


                    <li class="dropdown tasks-menu">

                        <ul class="dropdown-menu">


                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <span  *ngIf="isAuthenticated()">
                    <li class="dropdown user user-menu">
                        <a (click)="logout()" id="logout" data-toggle="dropdown">

                            <span class="hidden-xs">Se Déconnecter</span>
                        </a>
                    </li></span>
                </ul>
            </div>
        </nav>
    </header>
    <span  *ngIf="isAuthenticated()">
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
                                     <div class="user-panel">

                                                   <div class="pull-left info">
                                                       <p>{{account?.firstName}} </p>

                                                              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                                                   </div>
                                     </div>

            <!-- search form -->


            <div  [ngSwitch]="isAuthenticated()">


                <a class="dropdown-item" jhiHasAuthority= "ROLE_ADMIN" routerLink="reclamation" (click)="collapseNavbar()">

                    <strong>  Envoyer une reclamation</strong>
                </a>



                        <a  uiSrefActive="active"  jhiHasAuthority= "ROLE_ADMIN"  class="dropdown-item" routerLink="chart" (click)="collapseNavbar()">

                            <strong> Chart</strong>
                        </a>
                        <a  uiSrefActive="active"  jhiHasAuthority= "ROLE_ADMIN"  class="dropdown-item" routerLink="chat" (click)="collapseNavbar()">

                            <strong>  Chat</strong>
                        </a>
                        <a  uiSrefActive="active"  jhiHasAuthority= "ROLE_ADMIN"  class="dropdown-item" routerLink="doctor" (click)="collapseNavbar()">

                            <strong>  Gérer les medecins</strong>
                        </a>
                        <a  uiSrefActive="active"  jhiHasAuthority= "ROLE_MEDECIN"  class="dropdown-item" routerLink="dossier-medical-vf" (click)="collapseNavbar()">

                            <strong> Dossier Medical</strong>
                        </a>




                        <a class="dropdown-item" routerLink="servicemedical" jhiHasAuthority="ROLE_ADMIN" (click)="collapseNavbar()">

                            <strong>  Gestion des services medicals</strong>
                        </a>


                        <!--<a class="dropdown-item" routerLink="fichemedicale"  (click)="collapseNavbar()">

                           Gestion des fiches medicales
                        </a>-->
                       <!-- <a class="dropdown-item" routerLink="fichepatient"  (click)="collapseNavbar()">

                            Gestion des fiches patients
                        </a>-->
                      <!--  <a class="dropdown-item" routerLink="patient" jhiHasAuthority="ROLE_MEDECIN, ROLE_CHEF_SERVICE"(click)="collapseNavbar()">

                            Gestion des Patients
                        </a>-->
                        <a class="dropdown-item" routerLink="materiel" jhiHasAuthority="ROLE_CHEF_SERVICE" (click)="collapseNavbar()">

                            <strong>   Gestion des Materiels</strong>
                        </a>

                        <a class="dropdown-item"  jhiHasAuthority="ROLE_MEDECIN"routerLink="hello" (click)="collapseNavbar()">

                            <strong>  Gestion des traitements</strong>
                        </a>

                        <a class="dropdown-item" jhiHasAuthority="ROLE_MEDECIN"routerLink="medicament" (click)="collapseNavbar()">

                            <strong> Gestion des Medicaments</strong>
                        </a>
                        <a class="dropdown-item" jhiHasAuthority="ROLE_MEDECIN"routerLink="demande-medicament-vf" (click)="collapseNavbar()">

                            <strong>    Demandes des medicaments</strong>
                        </a>
                        <a class="dropdown-item" jhiHasAuthority="['ROLE_CHEF_SERVICE' , 'ROLE_MEDECIN','ROLE_GESTIONNAIREDEMATERIEL']"routerLink="demandemateriel" routerLinkActive="active" (click)="collapseNavbar()">

                            <strong> Demandes des materiels</strong>
                        </a>
                   <!-- <li class="dropdown-item"  jhiHasAuthority="[ROLE_ADMIN,ROLE_MEDECIN]"  class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" routerLink="chart" (click)="collapseNavbar()">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            <span class="hidden-sm-down">Chart Medecin</span>
                        </a>
                        <a class="nav-link" routerLink="chat" (click)="collapseNavbar()">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            <span class="hidden-sm-down">Chat Module</span>
                        </a>
                    </li>--></div>
























        </section>
        <!-- /.sidebar -->
    </aside>
    </span>


</div><!-- ./wrapper -->


</body>


