

<body class="skin-blue">
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a  class="logo"><b>E-</b>Health</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">


                    <li class="dropdown tasks-menu">

                        <ul class="dropdown-menu">


                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <span  *ngIf="isAuthenticated()">
                    <li class="dropdown user user-menu">
                        <a (click)="logout()" id="logout" data-toggle="dropdown">

                            <span class="hidden-xs">Se Déconnecter</span>
                        </a>
                    </li></span>
                </ul>
            </div>
        </nav>
    </header>
    <span  *ngIf="isAuthenticated()">
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
                                     <div class="user-panel" style="padding-top: 10px">
                                         <div *ngIf="account?.firstName=='admin'">
            <div class="pull-left image">
                <img  style="width: 60px;height: 60px;border-radius: 40px;" src="http://www.shzongyue.com/data/out/3/38655058-admin.png"></div></div>
<div *ngFor="let doctor of doctor  ">
    <div *ngIf="doctor.nometprenom == account?.firstName">


                                        <div class="pull-left image">
                                         <img style="width: 60px;height: 60px;border-radius: 40px;" [src]="'data:' + doctor.photoContentType + ';base64,' + doctor.photo" alt="doctor image"/>
                                        </div></div></div>
<!--<span>pp</span></div>-->
                                                   <div class="pull-left info">
                                                       <p>{{account?.firstName}} </p>

                                                              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                                                   </div>
                                        </div>

            <!-- search form -->


            <div style="padding-top: 50px;" [ngSwitch]="isAuthenticated()">


                <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer">
                <a style="padding-bottom: 10px;padding-top: 10px" class="dropdown-item" jhiHasAuthority= "ROLE_ADMIN"  routerLinkActive="active" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <span class="hidden-sm-down">
                            Gestion des personnels
                        </span>
                        <b class="caret"></b>
                    </span>
                </a>

                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li uiSrefActive="active">

                        <a   style="padding-bottom: 10px;padding-top: 10px"  jhiHasAuthority= "ROLE_ADMIN" class="dropdown-item" routerLink="doctor" (click)="collapseNavbar()">

                      <span class="fa fa-stethoscope"></span>       Gérer les medecins
                        </a>
                        <a class="dropdown-item" routerLink="pharmacie" style="padding-bottom: 10px;padding-top: 10px" jhiHasAuthority="ROLE_ADMIN" (click)="collapseNavbar()">

    <span class="fa fa-medkit"></span> Gestion des pharmaciens
                        </a>
                         <a class="dropdown-item" style="padding-bottom: 10px;padding-top: 10px" routerLink="servicemedical" jhiHasAuthority="ROLE_ADMIN" (click)="collapseNavbar()">

                     <span class="fa fa-hospital-o"></span>     Gestion des services medicals
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>


                <a  class="dropdown-item" style="padding-bottom: 10px;padding-top: 10px" jhiHasAuthority= "ROLE_ADMIN"  routerLink="reclamation" (click)="collapseNavbar()">

               <span class="fa fa-envelope-o"></span>     Traiter les reclamations
                </a>

                <a  class="dropdown-item" style="padding-bottom: 10px;padding-top: 10px" jhiHasAuthority= "ROLE_MEDECIN"    routerLink="mesreclamations" (click)="collapseNavbar()">

               <span class="fa fa-envelope-o"></span>    Mes reclamations
                </a>












                        <a  uiSrefActive="active" style="padding-bottom: 10px;padding-top: 10px" jhiHasAuthority= "ROLE_ADMIN"  class="dropdown-item" routerLink="chart" (click)="collapseNavbar()">

                            <span class="fa fa-adjust"> </span>  Statistiques des medecins
                        </a>
                 <a  uiSrefActive="active" style="padding-bottom: 10px;padding-top: 10px" jhiHasAuthority= "ROLE_ADMIN"  class="dropdown-item" routerLink="chartmedicament" (click)="collapseNavbar()">

                         <span class="fa fa-bar-chart-o"></span>   Statistiques des medicaments
                        </a>
                        <a  uiSrefActive="active"style="padding-bottom: 10px;padding-top: 10px"  jhiHasAuthority= "ROLE_ADMIN"  class="dropdown-item" routerLink="chat" (click)="collapseNavbar()">

                      <span class="fa fa-comments"></span>   Chat
                        </a>

                        <a  uiSrefActive="active" style="padding-bottom: 10px;padding-top: 10px" jhiHasAuthority= "ROLE_MEDECIN"  class="dropdown-item" routerLink="dossier-medical-vf" (click)="collapseNavbar()">

                        <span class="fa fa-archive"></span>     Dossier Medical
                        </a>

 <a class="dropdown-item" routerLink="demandemedicamentvff"style="padding-bottom: 10px;padding-top: 10px"  (click)="collapseNavbar()">

                       <span class="fa fa-plus-square"></span>   Demande Medicaments
                        </a>
                <a class="dropdown-item" routerLink="article" style="padding-bottom: 10px;padding-top: 10px" (click)="collapseNavbar()">

                 <span class="fa fa-comment-o"></span>  Avis Medical
                        </a>
                 <a class="dropdown-item" routerLink="evenement" style="padding-bottom: 10px;padding-top: 10px" (click)="collapseNavbar()">

                 <span class="fa fa-calendar-o"></span>  Gérer les  événements
                        </a>







                        <!--<a class="dropdown-item" routerLink="fichemedicale"  (click)="collapseNavbar()">

                           Gestion des fiches medicales
                        </a>-->
                       <!-- <a class="dropdown-item" routerLink="fichepatient"  (click)="collapseNavbar()">

                            Gestion des fiches patients
                        </a>-->
                      <!--  <a class="dropdown-item" routerLink="patient" jhiHasAuthority="ROLE_MEDECIN, ROLE_CHEF_SERVICE"(click)="collapseNavbar()">

                            Gestion des Patients
                        </a>-->
                        <a class="dropdown-item" style="padding-bottom: 10px;padding-top: 10px" routerLink="materiel" jhiHasAuthority="ROLE_CHEF_SERVICE" (click)="collapseNavbar()">

                     <span class="fa fa-wheelchair"></span>  Gestion des Materiels
                        </a>

                        <a class="dropdown-item" style="padding-bottom: 10px;padding-top: 10px" jhiHasAuthority="ROLE_MEDECIN"routerLink="hello" (click)="collapseNavbar()">

                         <span class="fa fa-plus-square"></span>    Gestion des traitements
                        </a>

                        <a class="dropdown-item" style="padding-bottom: 10px;padding-top: 10px" jhiHasAuthority="ROLE_MEDECIN"routerLink="medicament" (click)="collapseNavbar()">

                      <span class="fa fa-medkit"></span>    Gestion des Medicaments
                        </a>
                       <!-- <a class="dropdown-item" jhiHasAuthority="ROLE_MEDECIN"routerLink="demande-medicament-vf" (click)="collapseNavbar()">

                            <strong>    Demandes des medicaments</strong>
                        </a>-->
                        <a class="dropdown-item" style="padding-bottom: 10px;padding-top: 10px" style="padding-bottom: 10px;padding-top: 10px" jhiHasAuthority="['ROLE_CHEF_SERVICE' , 'ROLE_MEDECIN','ROLE_GESTIONNAIREDEMATERIEL']"routerLink="demandemateriel" routerLinkActive="active" (click)="collapseNavbar()">

                   <span class="fa  fa-wheelchair"></span>   Demandes des materiels
                        </a>
                   <!-- <li class="dropdown-item"  jhiHasAuthority="[ROLE_ADMIN,ROLE_MEDECIN]"  class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" routerLink="chart" (click)="collapseNavbar()">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            <span class="hidden-sm-down">Chart Medecin</span>
                        </a>
                        <a class="nav-link" routerLink="chat" (click)="collapseNavbar()">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            <span class="hidden-sm-down">Chat Module</span>
                        </a>
                    </li>-->
</div>























        </section>
        <!-- /.sidebar -->
    </aside>
    </span>


</div><!-- ./wrapper -->


</body>


