







<div class="row">
   <span *ngIf="isAuthenticated()">

<label class="leadd ">You are logged in as {{account?.firstName}} {{account?.lastName}}  </label>
    <h1 >Bienvenue, Plateform E-Health </h1>
    <p class="lead" >Hopital Numérique</p>



    <h3>C'est quoi l'hopital numérique?</h3>
    <p> L'hopital numérique se base sur un plan de développment qui marque la modernité en particulier
    et la modérenisation en géneral , c'est un systeme interne d'information hospitaliers qui sert
    à faciliter la communication entre les personnels d'un hopital .
    Ce systeme , a pour but de fixer des priorités et des objectifs .
    L'hopital numérique de nos jours  est une invention qui temoin un succés incomptestable.
    Ce dernier grantie la trassabilité , de plus ce system peut faciliter la compréhension des informations .
    Ajoutons à cela , que par ce systéme on peut diminuer le taux de voler ainsi au il'y a des acteurs externes
    qu'on nous communique pour offrir les materiels et les médicaments necessaires aux hopitaux.
    </p><p>Arrivons au but qui semble étre le plus important que notre plateform conserve des données médicales
    qui sont privées seulment et rien que le medecin concerné peuve les voir .
    En effet ces données prennent en charge l'historique du patient , ses anciens examens , notes  médicales et ses allérgies ...
    Et si un jours un patient change  l'emplacement vers une autre ville ou sous un raison d'urgence
    il aura ses fichiers médicals donc il a un successur et ses dossiers pourront lui étre transmis .</p>

    <h3>  Langues disponibles ?</h3>
    <p>  Notre plateform fonctionne à travers deux langues français et anglais .
    </p>
    <h3>  Internet Of Things ???</h3>
    <p>  Ajoutons pour terminer qu'il y a possibilité d'integrer des accessoirs liées à notre system qui pourront étre des
        bonus qui valorisent notre systeme .
    </p>

  </span>
    <span *ngIf="!isAuthenticated()">



    <h1 >Bienvenue, Plateform E-Health </h1>
    <p class="lead" >Hopital Numérique</p>



    <h3>C'est quoi l'hopital numérique?</h3>
    <p> L'hopital numérique se base sur un plan de développment qui marque la modernité en particulier
    et la modérenisation en géneral , c'est un systeme interne d'information hospitaliers qui sert
    à faciliter la communication entre les personnels d'un hopital .
    Ce systeme , a pour but de fixer des priorités et des objectifs .
    L'hopital numérique de nos jours  est une invention qui temoin un succés incomptestable.
    Ce dernier grantie la trassabilité , de plus ce system peut faciliter la compréhension des informations .
    Ajoutons à cela , que par ce systéme on peut diminuer le taux de voler ainsi au il'y a des acteurs externes
    qu'on nous communique pour offrir les materiels et les médicaments necessaires aux hopitaux.
    </p><p>Arrivons au but qui semble étre le plus important que notre plateform conserve des données médicales
    qui sont privées seulment et rien que le medecin concerné peuve les voir .
    En effet ces données prennent en charge l'historique du patient , ses anciens examens , notes  médicales et ses allérgies ...
    Et si un jours un patient change  l'emplacement vers une autre ville ou sous un raison d'urgence
    il aura ses fichiers médicals donc il a un successur et ses dossiers pourront lui étre transmis .</p>

    <h3>  Langues disponibles ?</h3>
    <p>  Notre plateform fonctionne à travers deux langues français et anglais .
    </p>
    <h3>  Internet Of Things ???</h3>
    <p>  Ajoutons pour terminer qu'il y a possibilité d'integrer des accessoirs liées à notre system qui pourront étre des
        bonus qui valorisent notre systeme .
    </p>

  </span></div>
