<span  *ngIf="isAuthenticated()">
<div class="content-wrapper">

    <section class="content">

        <div class="row">



<div class="row">
        <!--    <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Configuration</span>

                    </div>&lt;!&ndash; /.info-box-content &ndash;&gt;
                </div>&lt;!&ndash; /.info-box &ndash;&gt;
            </div>&lt;!&ndash; /.col &ndash;&gt;
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Contacter Ministère de santé</span>

                    </div>&lt;!&ndash; /.info-box-content &ndash;&gt;
                </div>&lt;!&ndash; /.info-box &ndash;&gt;
            </div> -->

            <!-- fix for small devices only -->
        <!--    <div class="clearfix visible-sm-block"></div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Contacter Pharmacie Centrale</span>

                    </div>&lt;!&ndash; /.info-box-content &ndash;&gt;
                </div>&lt;!&ndash; /.info-box &ndash;&gt;
            </div> /.col -->
        <!--    <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Nombre des utilisateurs</span>

                            <span class="info-box-number">444</span>

                </div>&lt;!&ndash; /.info-box &ndash;&gt;
            </div>&lt;!&ndash; /.col &ndash;&gt;
        </div>-->
</div>

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>
                            150
                        </h3>
                        <p>
                            New Orders
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>
                            53<sup style="font-size: 20px">%</sup>
                        </h3>
                        <p>
                            Bounce Rate
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>
                            44
                        </h3>
                        <p>
                            User Registrations
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>
                            65
                        </h3>
                        <p>
                            Unique Visitors
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
        </div><!-- /.row -->

    </section></div></span>
<span  *ngIf="!isAuthenticated()">


<div class="est">    <!--<img style="margin-top:30px;height: 550px;width: 100%;" src="https://www.alsace-esante.fr/sites/default/files/styles/slider/public/slider_1.jpg?itok=_9u8dGWm"/>-->

   <h2 style="font-family: PinyonScript;
	font-size: 40px;
	padding-top: 30px;
line-height: 260px;
   margin-left: 110px;"> E-Health Plateforme</h2>
<button type="button" type="submit" style="width: 200px;margin-left: 160px;border-radius: 25px;"(click)="login()" class="btn btn-danger ">Se Connecter</button>
 </div>

  </span>
