
<div class="content-wrapper">

    <section class="content">

        <div class='row'>
            <div class='col-md-3'>


        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [colors]="chartColors"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>

    <button type="button" class="btn btn-success"  (click)="changeCharType()">change chart type</button>
</div>

        </div></section></div>
