
<div class="content-wrapper">

    <section class="content">

        <div class='row'>

<div style="padding-left: 10px">
<div>

        <button style="border-radius: 25px;"class="btn btn-info float-xs-right create-demandepharmaciecentrale" [routerLink]="['/', { outlets: { popup: ['demandepharmaciecentrale-new'] } }]">
            <span class="fa fa-plus"></span>

            Envoyer une nouvelle demande
        </button>
    <jhi-alert></jhi-alert>

    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="demandepharmaciecentrales">
        <table class="table table-striped">
            <thead>

            <th>Medicament</th>
            <th>Type </th>
            <th>Date</th>

            <th></th>

            </thead>
            <tbody>
            <tr *ngFor="let demandepharmaciecentrale of demandepharmaciecentrales ;trackBy: trackId">

                <td>{{demandepharmaciecentrale.medicament}}</td>
                <td>{{demandepharmaciecentrale.type}}</td>
                <td>{{demandepharmaciecentrale.date | date:'mediumDate'}}</td>

                <td class="text-xs-right">
                    <div class="btn-group flex-btn-group-container">





                        <button class="btn btn-warning pull-right" style="margin-right: 5px;"
                                type="submit"
                                [routerLink]="['../demandepharmaciecentrale', demandepharmaciecentrale.id ]"><i class="fa fa-eye"></i> </button>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div class="text-xs-center" *ngIf="demandepharmaciecentrales && demandepharmaciecentrales.length">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
</div>
</div>   </div></section></div>
