
<div class="content-wrapper">

    <section class="content">

        <div class='row'>
            <div class='col-md-12'>
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [colors]="chartColors"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
    <button type="button" class="btn btn-danger" style="border-radius: 25px;"  (click)="changeCharType()">change chart type</button>
        </div></section></div>
